/* line 8, ../sass/styles.scss */
body {
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
}

/* line 12, ../sass/styles.scss */
#title {
  color: #76323f;
  font-weight: bolder;
}

/* line 16, ../sass/styles.scss */
.form {
  background-color: #d7cec7;
  margin-bottom: 7vh;
}

/* line 20, ../sass/styles.scss */
.inner {
  color: #565656;
  width: 70%;
  margin: 0 auto;
}

/* line 25, ../sass/styles.scss */
.form-start {
  margin-top: 8vh;
}

/* line 28, ../sass/styles.scss */
input {
  border: none;
  background-color: #d7cec7;
  border-bottom: 3px solid #76323f;
  margin-bottom: 5vh;
}
@media only screen and (min-width: 20px) {
  /* line 28, ../sass/styles.scss */
  input {
    width: 100%;
  }
}
/* line 36, ../sass/styles.scss */
input:focus {
  outline: none;
  border-bottom: 3px solid #76323f;
}

/* line 41, ../sass/styles.scss */
.recommend, .checkbox-wrapper, .textarea-wrapper {
  margin: 2.5vh 0;
  padding: 0;
}

@media only screen and (max-width: 993px) {
  /* line 47, ../sass/styles.scss */
  .recommendLabel, .radio-wrapper {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 490px) {
  /* line 53, ../sass/styles.scss */
  select {
    max-width: 100%;
  }
}

/* line 58, ../sass/styles.scss */
.checkbox {
  width: 100%;
}
/* line 60, ../sass/styles.scss */
.checkbox label {
  font-weight: bold;
}
/* line 63, ../sass/styles.scss */
.checkbox input[type='checkbox'] {
  position: relative;
  width: 30px;
}

/* line 68, ../sass/styles.scss */
#submit {
  margin-bottom: 5vh;
}
