// Variables
$font-family: 'Courier New', Courier, monospace;
$font-size: 18px;
$background-color: #d7cec7;
$title-color: #76323f;
$text-color: #565656;

body{
  font-size: $font-size;
  font-family: $font-family;
}
#title{
  color:$title-color;
  font-weight: bolder;
}
.form{
  background-color: $background-color;
  margin-bottom: 7vh;
}
.inner{
  color: $text-color;
  width: 70%;
  margin: 0 auto;
}
.form-start{
  margin-top: 8vh;
}
input{
  border: none;
  background-color: $background-color;
  border-bottom: 3px solid $title-color;
  margin-bottom: 5vh;
  @media only screen and (min-width: 20px) {
    width: 100%;
}
  &:focus{
    outline: none;
    border-bottom: 3px solid $title-color;
  }
}
.recommend,.checkbox-wrapper,.textarea-wrapper{
  margin: 2.5vh 0;
  padding: 0;
}

  @media only screen and (max-width: 993px) {
    .recommendLabel,.radio-wrapper{
      display: block;
      width: 100%;
      text-align: center;
    }
}
select{
  @media only screen and (max-width: 490px) {
    max-width: 100%;
  }  
}
.checkbox{
  width: 100%;
  label{
    font-weight: bold;
  }
  input[type='checkbox']{
    position: relative;
    width:30px;
  }
}
#submit{
  margin-bottom: 5vh;
}