body{
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-container{
    display: flex;
    flex-direction: row;
}
.nav{
    flex-grow: 0;
    flex-basis: 30%;
    flex-direction: column;
    border-right: 2px solid gray;
    position: fixed;
}
.main{
    flex-grow: 0;
    flex-basis: 70%;
    flex-direction: column;
    margin-left: 30%;
    flex-wrap: wrap;
}
#navbar{
    margin: 0 auto;
    header{
        font-size: 1.5em;
        font-weight: bold;
        margin: 2vh auto;
        ul{
            li{
                list-style: none;
            }
        }
    }
}
.nav-link{
    text-decoration: none;
    color: black;
    background-color: antiquewhite;
    border: 1px solid maroon;
    margin: 3px;
    transition: .4s;
    // transition: color .3s;
    &:hover{
        color: antiquewhite;
        background-color: maroon;
    }
}
.main-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 4vw;
    header{
        font-size: 1.5em;
        font-weight: bold;
        margin: 3vh auto;
    }
    p{
        color: gray;
        font-size: 0.9em;
    }
}
.gray{
    color: gray;
}
code{
    background-color: whitesmoke;
}
// For mobile view
@media only screen and (max-width: 942px) {
    .main-container{
        flex-direction: column;
    }
    .nav{
        max-height: 40vh;
        overflow-y: scroll;
        margin-bottom: 4vh;
        border-bottom: 3px double gray;
        display: block;
        width: 100%;
        background-color: whitesmoke;
    }
    .main{
        margin: 0 auto;
        margin-top: 40vh;
        padding-top: 2%;
    }
    #navbar{
        header{
            text-align: center;
        }
    }
}
