@import "../bower_components/bootstrap/scss/bootstrap";
@import "../bower_components/bootstrap/scss/_custom.scss";
$crousel-shirts-color: #F5006A;
header {
    background-color: white;
}

#shipping {
    background-color: black;
    color: white;
    height: 45px;
    width: 100%;
    p {
        line-height: 1.6em;
        letter-spacing: 0.2em;
    }
}

.nav-item {
    transition: color 0.4s ease 0s;
}

#crousel-wrapper {
    @media (min-width: 992px) {
        width: 88%;
        margin: 0 auto;
    }
    @media (max-width: 991px) {
        position: absolute;
        width: 90%;
        right: 0;
        left: 80px;
    }
}

#crousal {
    @media (min-width: 992px){
    margin-top: 200px;
    }
    @media (max-width: 991px){
        margin-top: 300px;
    }
    img {
        height: 500px;
    }
}

.main-text {
    position: absolute;
    top: 90px;
    width: 96.66666666666666%;
    color: black;
    h1 {
        font-weight: normal;
    }
    .shirts-count {
        display: inline-block;
        margin-right: 8px;
        background-color: black;
        color: white;
        font-size: 30px;
        width: 50px;
    }
}

.crousel-text {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
    margin: 0 auto;
    width: 470px;
    height: 194px;
    color: black;
    .btn-min-block {
        min-width: 142px;
        line-height: 40px;
    }
    .btn-props {
        color: #FFF;
        background-color: black;
        margin-right: 15px;
    }
    .btn-props:hover {
        color: white;
        background-color: $nav-link-hover-color;
    }
}
