@import "../bower_components/bootstrap/scss/bootstrap";
@import "../bower_components/bootstrap/scss/_custom.scss";
// Custom Variables
$crousel-shirts-color: #F5006A;
$nav-link-hover-color: #CEA08A;
$input-color-placeholder: #000;
$brief-text-color: #FAEDED;
$navbar-light-color: rgba($black, 1);
$navbar-light-hover-color: rgba($nav-link-hover-color, 1);
$navbar-light-active-color: rgba($nav-link-hover-color, 1);
$navbar-light-disabled-color: rgba($black, 1);
$navbar-light-toggler-bg: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"),
"#",
"%23") !default;
$navbar-light-toggler-border: rgba($black,
1);
// Header section
header {
    background-color: white;
}

#shipping {
    background-color: black;
    color: white;
    height: 45px;
    width: 100%;
    p {
        line-height: 1.6em;
        letter-spacing: 0.2em;
    }
}

.nav-item {
    transition: color 0.4s ease 0s;
}

.navbar-para {
    width: 100%;
    height: auto;
}

.logo-padding {
    @media (min-width: 992px) {
        padding-left: 3rem;
    }
    @media (max-width: 992px) {
        margin: 0 auto;
    }
}

#logo {
    @media (min-width: 1100px) {
        margin-left: 8.33333%;
    }
    @media (max-width: 1100px) {
        margin: 0 auto;
    }
    img {
        max-width: 100%;
        height: auto;
    }
}

.dropdown-item {
    font-size: 0.9rem;
    transition: color 0.4s ease 0s;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active,
.dropdown-item:active {
    color: $nav-link-hover-color;
    text-decoration: none;
    background-color: white;
    font-size: 0.9rem;
}

.dropdown-menu {
    border: none;
}

.dropdown-toggle::after {
    display: none
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

// Crousel section
.wrapper {
    min-width: 400px;
    @media (min-width: 992px) {
        width: 88%;
        margin: 0 auto;
    }
    @media (max-width: 991px) {
        position: absolute;
        width: 90%;
        right: 0;
        left: 80px;
    }
}

#crousal {
    @media (min-width: 575px) {
        margin-top: 200px;
    }
    @media (max-width: 575px) {
        margin-top: 300px;
    }
    img {
        height: 500px;
    }
}

.main-text {
    position: absolute;
    top: 90px;
    width: 96.66666666666666%;
    color: black;
    h1 {
        font-weight: normal;
    }
    .shirts-count {
        display: inline-block;
        margin-right: 8px;
        background-color: black;
        color: white;
        font-size: 30px;
        width: 50px;
    }
}

.crousel-text {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
    margin: 0 auto;
    width: 470px;
    height: 194px;
    color: black;
    .btn-min-block {
        min-width: 142px;
        line-height: 40px;
    }
    .btn-props {
        color: #FFF;
        background-color: black;
        margin-right: 15px;
    }
    .btn-props:hover {
        color: white;
        background-color: $nav-link-hover-color;
    }
}

// Brief section starts here
#brief {
    .wrapper {
        @media (max-width: 991px) {
            margin-top: 480px;
        }
        .text {
            background-color: $brief-text-color;
            h2 {
                font-size: 1.5rem;
                font-weight: normal;
                padding-top: 4rem;
            }
            p {
                font-size: 1rem;
                padding-top: 1rem;
                word-wrap: break-word;
            }
        }
    }
    .equel-left {
        min-width: 400px;
        height: 580px;
        @media (min-width: 941px) {
            width: 48.2%;
            margin-right: 3.6%;
        }
        @media (max-width: 940px) {
            width: 100%;
            margin-top: 2rem;
        }
        img {
            max-width: 100%;
            min-height: 100%;
        }
    }
    .equel-right {
        min-width: 400px;
        height: 580px;
        @media (min-width: 941px) {
            width: 48.2%;
        }
        @media (max-width: 940px) {
            width: 100%;
            margin-top: 2rem;
            right: 0;
            left: 80px;
        }
    }
    .larger {
        min-width: 400px;
        height: 580px;
        @media (min-width: 1190px) {
            width: 57.5%;
            margin-right: 3.8%;
        }
        @media (max-width: 1190px) {
            width: 100%;
            margin-top: 2rem;
        }
    }
    .smaller {
        min-width: 400px;
        height: 580px;
        background-color: #F5006A;
        @media (min-width: 1190px) {
            width: 38.7%;
        }
        @media (max-width: 1190px) {
            width: 100%;
            margin-top: 2rem;
            right: 0;
            left: 80px;
        }
    }
}

.btn-shopnow,
.btn-readmore {
    transition: background-color 0.4s ease 0s;
}

.btn-shopnow {
    color: #FFF;
    background-color: black;
    min-width: 142px;
    line-height: 27px;
    font-size: 1rem;
    &:hover {
        background-color: #2B6CA3;
        color: white;
    }
}

.btn-readmore {
    color: #FFF;
    background-color: black;
    min-width: 142px;
    line-height: 27px;
    font-size: 1rem;
    &:hover {
        background-color: #808080;
        color: white;
    }
}

.text-ul {
    background-color: $brief-text-color;
    h2 {
        font-size: 1.8rem;
        font-weight: normal;
        padding-top: 4rem;
    }
    li,
    p {
        font-size: 1.3rem;
        padding-top: 1.3rem;
        font-weight: normal;
        word-wrap: break-word;
    }
}

// Footer
footer {
    height: 340px;
    position: relative;
    @media (max-width: 992px) {
        top: 2950px;
    }
    @media (max-width: 940px) {
        top: 4230px;
    }
    hr {
        border-color: inherit;
    }
}

input {
    border: none;
    min-width: 87%;
    border-bottom: solid black 1px;
    &:hover {
        border: none;
        border-bottom: solid black 1px;
    }
}

#contact-form {
    margin-left: 14.5%;
    input {
        border: none;
        min-width: 87%;
        border-bottom: solid black 1px;
        border-radius: 0px;
    }
}

.input-group-addon{
    background-color: transparent;
    border: none;
    border-bottom: solid black 1px;
    border-radius: 0;
}

.fa-envelope-o{
    color: black;
}

.form-control::-webkit-input-placeholder { color: black; }
.form-control:-moz-placeholder { color: black; }
.form-control::-moz-placeholder { color: black; }
.form-control:-ms-input-placeholder { color: black; }
.form-control::-ms-input-placeholder { color: black; }

.contact-btn{
    background-color: transparent;
    min-width: 100%;
    border: 1px solid black;
}

.btn{
    border-radius: 0;
}

.divider{
    position:absolute;
    left:  114%;
    top:27%;
    bottom:27%;
    border-right:1px solid black;
}


.info-section{
    margin-left: 9%;
    padding-top: 3.2rem;
    a{
        text-decoration: none;
        font-size: 1rem;
        color: #000;
        &:hover{
            color: #000;
        }
        &:focus{
            color: #000;
        }
        &:active{
            color: #000;
        }

    }
}

.div-30{
    max-width: 30%;
}
.div-39{
    max-width: 39%;
}
