@import "../bower_components/bootstrap/scss/bootstrap";
@import "../bower_components/bootstrap/scss/_custom.scss";

$crousel-shirts-color: #F5006A;

#shipping {
    background-color: black;
    color: white;
    height: 45px;
    width: 100%;
    p{
        line-height: 1.6em;
        letter-spacing: 0.2em;
    }
}

.nav-item {
    transition: color 0.4s ease 0s;
}

#crousel-wrapper{
    @media (min-width: 992px){
    width: 88%;
    margin: 0 auto;
    }

    @media (max-width: 991px){
        position: absolute;
        width: 90%;
        right: 0;
        left: 80px;
    }
}

#crousal{
    margin-top: 200px;
    img{
        height: 550px;
    }
}

#main-nav{
    background-color: white;
}

.main-text
{
    position: absolute;
    top: 90px;
    width: 96.66666666666666%;
    color: black;

    h1{
        font-weight: normal;
    }
    .shirts-count{
        display: inline-block;
        margin-right: 8px;
        background-color: black;
        color: white;
        font-size: 30px;
        width: 50px;
    }
}

.crousel-text{
    background-color: white;
    margin: 0 auto;
    width: 470px;
    height: 200px;
    opacity: 0.5;
}